@import  "../../style/mixins.scss";
@import "../../style/variables.scss";



.header{
    &__nav{
        @include flex-container;
        justify-content: space-between;
        padding: 0px 105px;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(229, 229, 229, 0.44);
    };
    .nav{
        &__title{
            @include flex-container;
            gap:24px;
        };
        &__title_svg{
            margin-top: -5px;
        };
        &__title_text{
            font-weight: 400;
            font-size: 42.2113px;
            line-height: 61px;
            color:$secondery-color;
        };
        &__list{
            @include flex-container;
            gap:37px;
            li{
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color:$secondery-color;
            };
        };
        &__cuurrency{
            @include flex-container;
            gap:46px;
            p{
                @include flex-container;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color:$secondery-color;
                padding-bottom: 9px;
                border-bottom: 1px solid $primary-color;
            };
        };
        &__container_btn{
            border-left: 1px solid $primary-color;
            padding: 15px 0px 15px 46px;
        }
        &__btn{
            background: $primary-color;
            border-radius: 21px;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            color: #fff;
            padding: 13px 66px;
            border: none;
        };
    };
};