.list{
    font-weight: bold;
};
.blockProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-height: 550px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
};
.favorite{
    align-self: flex-end;
};