.windowClose{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
};
.modal{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 4px;
    border-radius: 4px;
};
.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(207, 205, 205);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
};
.modalTitle{
    margin: 0;
};
.modalBody{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
};
.modalFooter{
    background-color: rgb(226, 220, 220);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
};
.modalFooterBtn{
    padding: 7px 20px;
    border-radius: 4px;
    border: none;
    background-color: #be855d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        background-color: #9e704e;
    };
    &:active{
        background-color: #8d6548;
    };
};
.btnCancel{
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
    background-color: #fa0000;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    &:hover{
        background-color: #ce0000;
    };
    &:active{
        background-color: #880202;
    };
}
