.prodBasket{
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
};
.price,
.name{
    margin: 0px;
    padding:15px;
};
.price{
    border-left: 2px solid black;
};
.btnRemove{
    padding: 9px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    background-color: red;
    margin-right: 10px;
    border: none;
    &:hover{
        background-color: rgb(218, 4, 4);
    };
    &:active{
        background-color: rgb(182, 2, 2);
        box-shadow: inset 0px 0px 4px rgb(131, 130, 130);
    };
};
.basketImg{
    width: 50px;
    height: 35px;
};