@import "~normalize-css";
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');



body{
    font-family: 'Istok Web', sans-serif;
};

li{
    list-style-type: none;
};
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
};

.container{
    width: 1512px;
    margin: 0 auto;
};

