.App{
  max-width: 1200px;
  margin: 0 auto;
  .header{
      display: flex;
      gap: 20px;
      padding: 20px;
      justify-content: flex-end;
      background-color:#fd7038;
      &__btn{
          padding: 9px 20px;
          border-radius: 4px;
          border: none;
          box-shadow: 0px 2px 4px;
          cursor: pointer;
          font-size: 17px;
          color: #750c09;
          transition: all 300ms;
          &:hover{
              background-color: #d8a784;
          }
          &:active{
              background-color: #be855d;
              box-shadow: inset 0px 0px 4px rgb(255, 255, 255);
          }
      }
  }
  .main{
      display: flex;
      &__window-close{
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.7);
      }
      .modal{
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          position: absolute;
          top: 50%; 
          left: 50%; 
          transform: translate(-50%, -50%);
          box-shadow: 0px 0px 4px;
          border-radius: 4px;
          &__title{
              margin: 0;
          }
          &__header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 20px;
              background-color: rgb(207, 205, 205);
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
          }
          &__body{
              min-height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
          }
          &__footer{
              background-color: rgb(226, 220, 220);
              display: flex;
              justify-content: flex-end;
              padding: 10px 20px;
          }
          &__header-btn{
              border-radius: 50%;
              border: none;
              font-weight: 900;
              background-color: #fff;
              border: 2px solid #000;
              cursor: pointer;
              width: 30px;
              height: 30px;
          }
          &__footer-btn{
              padding: 7px 20px;
              border-radius: 4px;
              border: none;
              background-color: #be855d;
              color: #fff;
              font-size: 16px;
              cursor: pointer;
              &:hover{
                  background-color: #9e704e;
              }
              &:active{
                  background-color: #8d6548;
              }
          }
          .header-btn{
              border-radius: 4px;
              border: none;
              font-weight: 900;
              background-color: rgb(160, 100, 100);
              border: 2px solid #000;
              cursor: pointer;
          }
          .footer-btn{
              padding: 7px 30px;
              border-radius: 4px;
              border: none;
              background-color: #e79f6b;
              color: #fff;
              font-size: 16px;
              cursor: pointer;
              &:hover{
                  background-color: #a1836d;
              }
              &:active{
                  background-color: #92745e;
              }
          }
      }
      &__block-with-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
      .products{
        box-sizing: border-box;
        padding: 15px;
        text-align: center;
        width: 30%;
        box-shadow: 0px 0px 5px;
        min-height: 600px;
        &__header{

        }
        &__body{

        }
        &__footer{

        }
        &__img{
          width: 100%;
          max-height: 300px;
        }
      }
      .basket{
          &__title{

          }
          &__list{

          }
          &__item{
            display: flex;
          }
          &__img{
              width: 20px;
              height: 20px;
          }
          &__text{

          }
      }
  }
}
.stop-scroll{
    overflow: hidden;
}