.list{
    font-weight: bold;
};
.blockProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-height: 550px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
};
.favorite{
    align-self: flex-end;
};
.btn{
    padding: 9px 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px;
    cursor: pointer;
    font-size: 17px;
    color: #750c09;
    transition: all 300ms;
    &:hover{
        background-color: #d8a784;
    };
    &:active{
        background-color: #be855d;
        box-shadow: inset 0px 0px 4px rgb(255, 255, 255);
    };
}