@import "../../style/mixins.scss";
@import "../../style/variables.scss";


.main{
    background-color:  #F0F0F0;
    padding-top: 102px;
    padding-bottom: 302px;
    &__title_text{
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: $primary-color;
    }
    &__container{
        @include flex-container;
        gap: 87px;
    };
    &__currency{
        @include flex-container;
        background: #FFFFFF;
        box-shadow: 4px 4px 8px rgba(70, 21, 167, 0.12);
        border-radius: 21px;
        padding: 58px;
        column-gap: 123px;
    };
    &__input_and_select{
        display: flex;
        flex-direction: column;
        gap: 23px;   
    };
    &__input{
        box-shadow: 0px 4px 4px #E5E5E5;
        border-radius: 13px;
        padding:7px 68px 7px 105px;
        border: none;
    };
};