.prodBasket{
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}
.price,
.name{
    margin: 0px;
    padding:15px;
}
.price{
    border-left: 2px solid black;
}
.img{
    width: 50px;
    height: 35px;
};